@import 'bootstrap-sprockets';
@import 'bootstrap';

header {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

body {
  padding-top: 52px;
}

ul .navbar{
  padding-bottom: 1px;
  margin-bottom: 3px;
}